# Distribution / packaging
.Python
*.pyc
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless

# project specific
code_samples/.terraform
code_samples/files/*
code_samples/07. very_large_package/49MBFile
terraform/files/*
terraform/terraform.tfstate*
terraform/.terraform
venv/

# node
/node_modules
*/node_modules
*/.serverless/
